body {
    margin: 0;
}
.sec-pad{
    padding: 80px 0;
}
.wrapper{
    max-width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.half-width{
    width: 48.5%;
}
.cover-area{
    background: url(images/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.cover-content{
    text-align: center;
    padding-top: 5%;
}
.cover-content h1{
    color: #ffffff;
    font-size: 75px;
    font-family: 'Playball', cursive;
}
.cover-content h2{
    color: #c02ec0;
    font-size: 45px;
    font-family: 'Playball', cursive;
}
.cover-content p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    color: #ffffff;
    width: 50%;
    margin: 25px auto;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(to left, #c02ec0, #7e32c5);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
    cursor: pointer;
    text-transform: capitalize;
}
.btn-l{
    padding: 10px 30px;
    margin: 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
}
.btn-s{
    padding: 8px 20px;
    margin: 20px 30px;
    font-size: 14px;
}
.new-arrivals-area {
    background-color: #d6ccda;
}
.new-arrivals h2{
    color: #c02ec0;
    font-size: 45px;
    font-family: 'Playball', cursive;
    text-align: center;
}
.new-arrivals-item {
    background: #ffffff;
    margin: 10px;
    border-radius: 8px;
    flex-basis: 22.5%;
    width: 22.5%;
}

.new-arrivals-thumb img {
    width: 100%;
    display: block;
    border-radius: 8px 8px 0 0;
}

.new-arrivals-content {
    text-align: center;
    padding-bottom: 20px;
}

.new-arrivals-content h3 {
    font-family: 'Playball', cursive;
    font-size: 18px;
    margin: 0;
    text-transform: capitalize;
}

.new-arrivals-content p {
    font-family: 'Playball', cursive;
    font-size: 16px;
}
.new-arrivals-feedback{
    display: flex;
    justify-content: center;
}
.new-arrivals-feedback span {
    width: 15px;
    height: 15px;
    display: inline-block;
}
.order-content h2{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: #5a5a5a;
    text-transform: capitalize;
}
.order-content span{
    color: #c02ec0;;
}
.order-content p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #5a5a5aeb;
    width: 80%;
    margin-bottom: 40px;
}
.order-thumb{
    background: url(images/group.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.order-thumb img{
    height: 100%;
}
.about-area{
    background: url(images/frame-56.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.about-content{
    margin: auto;
}
.about-content h2{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: #5a5a5aeb;
    text-transform: capitalize;
}
.about-content p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #5a5a5a;
    width: 70%;
    margin-bottom: 40px;
}
.recipies-top{
    text-align: center;
}
.recipies-top p{
    width: 70%;
    margin: 0 auto;
}
.recipies-part h2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #5a5a5a;
    text-transform: capitalize;
}
 .recipies-top p, .recipies-part p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #5a5a5a;
}
.recipies-item{
    width: 25.5%;
    margin: 20px;
    padding: 10px;
    border: 1px solid #bdbdbd57;
    border-radius: 15px;
}
.recipies-item img{
    width: 100%;
    border-radius: 15px;
}